__pycache__
.vscode
.idea

all excels
all resumes
logs

old

config/personals.py
config/secrets.py
config/questions.py
config/resume.py
REVISED_CV.md
qa_database.json
config/questions_db.json
config/user_config.json
.venv
apikeys.py
scratch/